<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Activity Page</title>
    </head>
    <body>
        <h1>Activities page</h1>
        <h2>Activity: {{ activity.activity }}</h2>
        <h2>Accessibility: {{ activity.accessibility }}</h2>
        <h2>Type: {{ activity.type }}</h2>
        <h2>Participants: {{ activity.participants }}</h2>
        <h2>Price: ${{ activity.price }}</h2>
        <a>{{ activity.link }}</a>
    </body>
</html>